strong{
	font-size : 26px;
}

h2{
	font-size : 28px;
	color : #FF0000;
	text-transform : uppercase;
	border-bottom: 3px solid #FF0000;
}

.Titre{
	float : right;
	font-style : italic;
}

.Contact{
	float : left;
}

a:link{
	color : blue;
}

.Expériences Professionnelles{
	float : left;
}

.Compétences{
	float : right;
}
